/*_______ Footer _______*/
.site-footer{
	width: 100%;
	padding: 0 0 2.5rem;
}

#footer-widgets{
	color: $color__tertiary;
	background-color: $color__grey;
	margin-bottom: 2.5rem;
}

.footer-widgets-block:not(:first-child){
	@extend %inner;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	padding: 2rem;
	@media (min-width: 480px){
		flex-flow: row wrap;
	}
	@media (min-width: 1200px){
		padding: 2rem 0;
	}
	input,
	select,
	textarea{
		height: 2.5rem;
		font-size: 1rem;
		color: $color__tertiary;
		background-color: transparent;
		border-color: $color__tertiary;
		&::placeholder{
			color: $color__tertiary;
		}
		&:focus{
			outline: none;
			border-color: $color__secondary;
		}
	}
	button,
	input[type="submit"]{
		height: 2.5rem;
		font-size: 1rem;
		color: $color__primary;
		padding: 0;
		background-color: $color__tertiary;
		border-color: $color__tertiary;
		&:focus,
		&:hover{
			outline: none;
			color: $color__tertiary;
			background-color: $color__secondary;
			border-color: $color__secondary;
		}
		&:active{
			outline: none;
			color: $color__primary;
			background-color: $color__black;
			border-color: $color__black;
		}
	}
	.widget-title{
		font-size: 1.25rem;
		color: $color__tertiary;
		margin-top: 0;
		margin-bottom: 1rem;
	}
	.widget_nav_menu{
		.menu{
			list-style: none;
			padding-left: .5rem;
			margin-top: 0;
			margin-left: 0;
			.menu-item{
				font-size: 1.25rem;
				line-height: 100%;
				margin-bottom: 1.5rem;
				@media (min-width: 769px){
					font-size: 1rem;
					margin-bottom: 1.25rem;
				}
				a{
					color: $color__tertiary;
					text-decoration: underline;
					@extend %transition;
					&:hover{
						color: $color__secondary;
					}
				}
				.sub-menu{
					list-style: none;
					padding-left: .5rem;
					border-left: .05rem solid $color__tertiary;
					margin-top: .75rem;
					margin-left: 0;
					margin-bottom: 1rem;
				}
			}
		}
	}
}
#footer-widget-1{
	width: 100%;
	padding: 4rem 2rem;
	background-color: $color__tertiary;
	.widget{
		text-align: center;
		.widget-title{
			color: $color__secondary;
			margin-bottom: 2rem;
		}
	}
	.module-header{
		@extend %inner;
		margin-bottom: 1rem;
	}
}
#footer-widget-2{
	margin-bottom: 2rem;
	/*_______ Fix for the anchor from the +info link on main nav _______*/
	padding-top: 110px;
	margin-top: -80px;
	.widget{
		&:nth-of-type(1),
		&:nth-of-type(2),
		&:nth-of-type(3){
			@media(min-width: 480px){
				flex: 0 1 45%;
			}
			@media (min-width: 768px){
				flex: 0 1 25%;
			}
		}
		&:nth-of-type(4){
			flex: 0 1 10%;
			margin: 0 auto;
			@media(min-width: 480px){
				flex: 0 1 48%;
			}
			@media (min-width: 768px){
				flex: 0 1 20%;
				margin-left: auto;
			}
			img{
				display: block;
				margin: 0 auto;
			}
		}
	}
}
#footer-widget-3{
	padding-top: 2rem;
	border-top: 1px solid $color__tertiary;
	.widget{
		margin-bottom: 4rem;
		@media(min-width: 480px){
			flex: 0 1 48%;
		}
		@media (min-width: 768px){
			flex: 0 1 35%;
			margin-bottom: 0;
		}
	}
	.widget_search{
		max-width: 300px;
		margin: 2rem auto 0;
		@media(min-width: 768px){
			margin: auto 0 0 auto;
			flex: 0 1 25%;
		}
		.search-form{
			label,
			input{
				display: inline-block;
				margin: 0;
			}
			label{
				float: left;
				width: 60%;
				height: 2.5rem;
			}
			.search-submit{
				width: 40%;
				height: 2.5rem;
			}
		}
	}
}

#text-2,
.jetpack_subscription_widget,
#nav_menu-6{
	#subscribe-text{
		p{
			font-size: 1rem;
		}
	}
	#subscribe-email{
		margin: 0;
		input{
			width: 60%;
			height: 2.5rem;
			float: left;
		}
		label,
		br{
			display: none;
		}
	}
	#subscribe-submit{
		margin-bottom: 0;
		br{
			display: none;
		}
		button{
			width: 40%;
			height: 2.5rem;
			margin: 0;
		}
	}
}

#footer-widget-3{
	.widget{
		&:nth-of-type(2){
			text-align: center;
		}
	}
}

#menu-social{
	display: flex;
	justify-content: center;
	.menu-item{
		flex: 0 1 25%;
		font-size: .875rem;
		text-align: center;
		line-height: 100%;
		margin: 0 .5rem;
		a{
			display: block;
			font-size: .75rem;
			text-decoration: none;
			border: none;
			@media(min-width: 769px){
				font-size: .875rem;
			}
			&:before{
				display: block;
				font-size: 1.5rem;
				line-height: 100%;
				margin-bottom: .5rem;
			}
		}
		&.facebook{
			a:before{
				content: "\f305";
				font-family: 'dashicons';
			}
		}
		&.twitter{
			a:before{
				content: "\f301";
				font-family: 'dashicons';
			}
		}
		&.instagram{
			a:before{
				content: "\f12d";
				font-family: 'dashicons';
			}
		}
		&.youtube{
			a:before{
				content: "\f236";
				font-family: 'dashicons';
			}
		}
		&.linkedin{
			a:before{
				content: "in";
				font-weight: 800;
				font-size: 1.75rem;
			}
		}
	}
	a{
		border-bottom: none;
		&:before{
			content: '';
			display: block;
			width: 1.5rem;
			height: 1.5rem;
			margin: 0 auto .5rem;
		}
	}
}


.site-info{
	text-align: center;
	padding-bottom: 50px;
	@media screen and (min-width: 900px){
		padding-bottom: 0;
	}
	p{
		font-size: .875rem;
		color: $color__primary;
	}
	a{
		display: block;
		font-size: .875rem;
		color: $color__primary;
		padding: 0;
		@media (min-width: 768px){
			display: inline-block;
			vertical-align: middle;
		}
		&:hover{
			color: $color__grey;
		}
	}
	span{
		display: none;
	}
}

.site-info-generator{
	display: inline-block;
	vertical-align: middle;
	line-height: 100%;
	&:after{
		display: block;
		vertical-align: middle;
		content: "\f324";
		font-family: 'dashicons';
		font-size: 2rem;
		color: $color__secondary;
		margin: 1.5rem auto;
		@media (min-width: 768px){
			display: inline-block;
			vertical-align: middle;
			margin: 0 1rem;
		}
	}
}
.site-info-network{
	display: inline-block;
	vertical-align: middle;
	line-height: 100%;
}
.privacy-policy-link{
	display: none !important;
}