fieldset{
	border: none;
	padding: 0;
	margin: 0 auto 1rem;
}

label{
	display: block;
	font-weight: 800;
	font-size: 1.25rem;
	line-height: 120%;
	text-align: left;
	color: $color__primary;
	margin-bottom: .25rem;
	@media (min-width: 480px){
		font-size: 1.25rem;
	}
}

input,
select,
textarea {
	appearance: none !important;
	-moz-appearance: none !important;
	-webkit-appearance: none !important;
	display: block;
	max-width: 100%; 
	width: 100%;
	font-weight: 400;
	font-size: 1rem;
	line-height: 100%;
	color: $color__primary;
	padding: .5em .75em;
	background-color: white;
	border: none;
	border: .1875rem solid $color__primary;
	border-radius: 0 !important;
	outline: none;
	resize: none;
	@media (min-width: 480px){
		font-size: 1.25rem;
	}
	&:focus{
		border-color: $color__secondary;
	}
	&::placeholder{
		color: $color__primary;
	}
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
select:-webkit-autofill,
select:-webkit-autofill:hover{
	border: .1875rem solid $color__primary !important;
	-webkit-text-fill-color: $color__primary !important;
	-webkit-box-shadow: 0 0 0px 1000px $color__tertiary inset !important;
}
input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus,
select:-webkit-autofill:focus{
	border: .1875rem solid $color__secondary !important;
}


input[type="checkbox"],
input[type="radio"]{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	max-width: 1.5rem;
	min-width: 1.5rem;
	width: 1.5rem;
	height: 1.5rem;
	min-height: 1.5rem;
	padding: 0;
	overflow: hidden;
	&:focus{
		outline: 1px solid $color__secondary;
	}
}
input[type="checkbox"]{
	&:checked{
		&:after{
			content: 'ï…‡';
			position: absolute;
			top: 0;
			left: -3px;
			font-family: 'dashicons';
			font-size: 1.5rem;
			font-weight: 700;
		}
	}
}

input[type="radio"]{
	border-radius: 100%;
	&:checked{
		position: relative;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $color__primary;
			border: .125rem solid white;
			border-radius: 100%;
		}
	}
}

input[type="checkbox"] + label,
input[type="radio"] + label{
	margin-left: 1rem;
	margin-bottom: 0;
}

select {
	position: relative;
	font-size: 1.125rem;
	padding-right: 2rem;
	background-image: url('https://2020.spain.wordcamp.org/files/2020/04/chevron-down.png');
	background-repeat: no-repeat;
	background-position: right .5em top 50%;
	background-size: 1rem;
	option{
		&[value=""],
		&:first-child{
			color: $color__grey;
		}
	}
	&:invalid{
		color: $color__grey;
	}
}

_:-ms-lang(x),
select {
	background-image: none;
}

textarea {
	width: 100%;
}

input[type="hidden"]{
	display: none;
}