.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
// .is-type-video{
// 	position: relative;
// 	padding-bottom: 56.25%;
// 	margin: 0 auto 3rem;
// 	height: 0;
// 	overflow: hidden;
// 	figcaption{
// 		position: absolute;
// 		bottom: 0;
// 	}
// }
embed,
iframe,
object {
	max-width: 100%;
	width: 100%;
	height: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

.wp-block-wordcamp-youtube-live-chat-embed__availability-warning {
    font-style: normal;
    font-size: .875rem;
    border-left: .25rem solid $color__tertiary;
    padding-left: .5rem;
}