/*_______ Colums block _______*/
.wp-block-columns {
	margin-top: 4rem;
	margin-bottom: 4rem;
	.wp-block-column{
		> %headings{
			margin-top: 0;
		}
	}
	&.info-columns{
		justify-content: center;
		.wp-block-column:not(:empty){
			padding-left: .75em;
			border-left: .25rem solid $color__tertiary;
			margin-bottom: 2rem;
			align-self: stretch;
			h2{
				@include font-size(1.75);
				margin-bottom: .5em;
				@media (min-width: 769px){
					@include font-size(2);
				}
			}

			h3{
				@include font-size(1.5);
				margin-bottom: .5em;
				@media (min-width: 769px){
					@include font-size(1.75);
				}
			}

			h4{
				@include font-size(1.25);
				margin-bottom: .25em;
				@media (min-width: 769px){
					@include font-size(1.5);
				}
			}
			  
			h5{
				@include font-size(1.125);
				margin-bottom: .25em;
				@media (min-width: 769px){
					@include font-size(1.25);
				}
			}

			h6{
				@include font-size(1);
				margin-bottom: .125em;
				@media (min-width: 769px){
					@include font-size(1.125);
				}
			}
			p,
			ul,
			ol{
				font-size: 1.125rem;
				margin-left: 0;
				&.address-block{
					font-size: .875rem;
				}
			}
		}
		&:last-of-type{
		}
	}
}