/*_______ Organises list _______*/
.wordcamp-organizers{
	padding: 0 2rem;
	margin: 2rem auto;
	&.has-layout-list{
		.wordcamp-post-list__post{
			max-width: $size__content-supertiny;
			margin-left: auto;
			margin-right: auto;
		}
	}
	&.has-layout-grid {
		display: grid;
		grid-column-gap: 1rem;
		grid-row-gap: 0;
		grid-template-columns: 100%;
		@media (min-width: 480px){
			grid-template-columns: repeat(2, 1fr);
		}
		&.has-grid-columns-3{
			@media (min-width: 769px){
				grid-template-columns: repeat(3, 1fr);
			}
		}
	}
	.wordcamp-post-list__post{
		width: 100%;
		margin-bottom: 1rem;
		background-color: white;
		border: .125rem solid $color__primary;
		box-shadow: .5rem .5rem 0 $color__tertiary;
		@extend %transition;
		&:hover{
			transform: scale(1.1);
			transform-origin: center;
			background-color: $color__grey_minimus;
			box-shadow: 0 0 0 $color__tertiary;
			z-index: 10;
			.wordcamp-image__avatar-container{
				img{
					filter: grayscale(0);
				}
			}
		}
		.wordcamp-organizers__post{
			position:relative;
			display: flex;
			flex-flow: column wrap;
			padding: 1.5rem;
			@media (min-width: 769px){
				padding: 2rem;
			}
		}
		.wordcamp-image__avatar-container{
			top: 0;
			left: 0;
			order: -1;
			max-width: 6rem;
			margin-bottom: 1rem;
			img{
				display: block;
				filter: grayscale(100);
				@extend %transition;
			}
		}
		.wordcamp-organizers__title{
			font-size: 1.5rem;
			line-height: 100%;
			margin-top: 0;
			margin-bottom: .5rem;
		}
		.wordcamp-organizers__content{
			display: flex;
			flex-flow: column wrap;
			p{
				font-size: 1rem;
				line-height: 140%;
				margin-bottom: 0;
				word-break: break-word;
				white-space: normal;
				&.organizer-links{
					font-size: 0;
					order: -1;
					margin-bottom: 1rem;
					a{
						position: relative;
						display: table;
						font-weight: 700;
						font-size: 1rem;
						line-height: 100%;
						text-decoration: none;
						color: $color__secondary;
						margin-bottom: .25rem;
						z-index: 1;
						&:after{
							content: '';
							display: block;
							position: absolute;
							top: .5rem;
							left: .5rem;
							width: 100%;
							height: .75rem;
							background-color: $color__tertiary;
							z-index: -1;
							@extend %transition;
						}
						&:focus,
						&:hover{
							color: $color__grey;
							text-decoration: underline;
							&:after{
								width: 0;
							}
						}
					}
				}
			}
		}
	}
}
