/*_______ Amigos footer widget _______*/
.amigos-title{
	font-size: 1.25rem;
	color: $color__grey_light;
	&:before{
		content: '';
		display: block;
		width: 2rem;
		height: .125rem;
		background-color: $color__grey_light;
		margin: 0 auto .5rem;
	}
}
.amigos-list{
	@extend %inner-med;
	list-style: none;
	padding: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 0 auto 4rem;
	.amigo{
		flex: 0 1 100%;
		margin: 0 0 1rem;
		@extend %transition;
		@media(min-width: 480px){
			flex: 0 1 33.333%;
		}
		a{
			display: block;
		}
		&:hover{
			opacity: .7;
		}
	}
	&.colaboradores{
		margin-bottom: 0;
		.amigo{
			flex: 0 1 80%;
			@media(min-width: 480px){
				flex: 0 1 25%;
			}
		}
	}
}

/*_______ Amigos list _______*/
.home-sponsors{
	background-color: $color__tertiary;
	padding: 4rem 2rem;
}

.wcorg-sponsors{
	@extend %inner;
	@extend %inner-padding;
}

.wceu-sponsors-title{
	font-size: 2.5rem;
	text-align: center;
	@media(min-width: 768px){
		font-size: 3rem;
	}
}

div[class^="wcorg-sponsor-level-"] {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 4rem;
	&:not(:last-of-type){
	}
	h2, h3, h4, h5, h6{
		flex: 1 1 100%;
		font-size: 1.75rem;
		text-align: center;
		margin-bottom: 1.5rem;
		&:before{
			content: '.....';
			display: block;
			font-size: 2.5rem;
			line-height: 100%;
			color: $color__secondary;
			margin: 0 auto .25rem;
		}
	}
}
.wcorg-sponsor{
	max-width: 80%;
	margin: .5rem auto;
	@media(min-width: 768px){
		max-width: inherit;
		margin-top: 0;
		margin-left: 1%;
		margin-right: 1%;
		margin-bottom: 0;
	}
	a{
		display: block;
	}
	img{
		display: block;
		margin: 0 auto;
	}
}

.wcorg-sponsor-level-super-admin,
.wcorg-sponsor-level-administrator
{
	.wcorg-sponsor{
		@media(min-width: 768px){
			flex: 0 1 31.333%;
		}
		img{
			width: auto;
			max-height: 10rem;
		}
	}	
}

.wcorg-sponsor-level-editor{
	.wcorg-sponsor{
		@media(min-width: 768px){
			flex: 0 1 23%;
		}
		img{
			width: auto;
			max-height: 8rem;
		}
	}
}

.wcorg-sponsor-level-author{
	.wcorg-sponsor{
		@media(min-width: 768px){
			flex: 0 1 18%;
		}
		img{
			width: auto;
			max-height: 6rem;
		}
	}
}

.wcorg-sponsor-level-small-business{
	.wcorg-sponsor{
		@media(min-width: 768px){
			flex: 0 1 14.666%;
		}
		margin: 0 1% 2rem;
		img{
			width: auto;
			max-height: 5rem;
		}
	}	
}

.wcorg-sponsor-level-after-party,
.wcorg-sponsor-level-coffee-break,
.wcorg-sponsor-level-media-partners,
.wcorg-sponsor-level-partner
{
	.wcorg-sponsor{
		@media(min-width: 768px){
			flex: 0 1 31.333%;
		}
		img{
			width: auto;
			max-height: 10rem;
		}
	}	
}