/*_______ Attendees list _______*/
#tix-attendees {
    max-width: $size__content-max;
    margin: 0 auto;
}
.tix-attendee-list{
	padding: 0 2rem;
	display: flex;
	flex-flow: row wrap;
	li{
		min-height: 7.5rem;
		position: relative;
		padding: .5rem .5rem .75rem 7rem;
		background-color: white;
		border: .125rem solid $color__primary;
		box-shadow: .5rem .5rem 0 $color__tertiary;
		margin: 0 auto 4rem;
		overlow: hidden;
		@extend %transition;
		@media(min-width: 400px){
			padding-left: 4rem;
			min-height: 5.25rem;
		}
		@media(min-width: 600px){
			padding-left: 5rem;
		}
		@media(min-width: 769px){
			margin: 0 .5% 2rem;
		}
		&:hover{
			transform: scale(1.1);
			transform-origin: center;
			z-index: 10;
			.avatar{
				filter: grayscale(0);
			}
		}
		.tix-field{
			margin-left: 0 !important;
		}
		.avatar{
			display: block;
			position: absolute;
			top: .5rem;
			left: .5rem;
			width: 6rem !important;
			height: 6rem !important;
			margin-right: 1rem;
			margin-bottom: .5rem;
			background-color: $color__grey_verylight;
			object-fit: cover;
			object-position: center center;
			filter: grayscale(100);
			@extend %transition;
			@media(min-width: 400px){
				width: 3rem !important;
				height: 3rem !important;
			}
			@media(min-width: 600px){
				width: 4rem !important;
				height: 4rem !important;
			}
		}
		.tix-attendee-name{
			font-family: $font__main;
			font-weight: 700;
			font-size: 1rem !important;
			line-height: 100%;
			margin-bottom: .25rem;
		}
		.tix-attendee-twitter,
		.tix-attendee-url{
			position: relative;
			display: table !important;
			font-weight: 700;
			font-size: .75rem;
			line-height: 100%;
			text-decoration: none;
			color: $color__secondary;
			margin-bottom: .25rem;
			z-index: 1;
			&:after{
				content: '';
				display: block;
				position: absolute;
				top: .5rem;
				left: .5rem;
				width: 100%;
				height: .5rem;
				background-color: $color__tertiary;
				z-index: -1;
				@extend %transition;
			}
			&:focus,
			&:hover{
				color: $color__primary;
				text-decoration: underline;
				&:after{
					width: 0;
				}
			}
		}
	}
	&.tix-columns-2{
		li{
			flex: 1 1 100%;
			width: 100%;
			margin: 0 auto 2rem;
			@media(min-width: 480px){
				flex: 0 0 48%;
				width: 48%;
			}
			@media(min-width: 769px){
				flex: 0 0 48%;
				width: 49%;
				margin: 0 .5% 1rem;
			}
		}
	}
	&.tix-columns-3{
		li{
			flex: 1 1 100%;
			width: 100%;
			margin: 0 auto 1rem;
			@media(min-width: 480px){
				flex: 0 1 48%;
				width: 40%;
			}
			@media(min-width: 769px){
				flex: 0 1 31.333%;
				width: 32.333%;
				margin: 0 .5% 1rem;
			}
		}
	}
	&.tix-columns-4{
		li{
			flex: 1 1 100%;
			width: 100%;
			margin: 0 auto 1rem;
			@media(min-width: 400px){
				flex: 0 1 48%;
				width: 40%;
			}
			@media(min-width: 600px){
				flex: 0 1 31.333%;
				width: 31.333%;
			}
			@media(min-width: 769px){
				flex: 0 0 24%;
				width: 24%;
				margin: 0 .5% 1rem;
			}
		}
	}
	&.tix-columns-5{
		li{
			flex: 1 1 100%;
			width: 100%;
			margin: 0 auto 1rem;
			@media(min-width: 480px){
				flex: 0 1 48%;
				width: 40%;
				margin: 0 auto 1rem;
			}
			@media(min-width: 600px){
				flex: 0 1 31.333%;
				width: 31.333%;
			}
			@media(min-width: 769px){
				flex: 0 0 18%;
				width: 18%;
			}
		}
	}
}